@font-face {
  font-family: domain;
  src: url(domain.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  background-color: #333;
  overflow-x: hidden;
}

#page1 {
  min-height: 110vh;
  width: 100vw;
  background-color: #c4bcb3;
  position: relative;
  overflow: hidden;
}
#nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #333;
}
#nav img {
  height: 27px;
  width: 40%;
  cursor: pointer;
}
#nav h5 {
  font-size: 16px;
  font-weight: 100;
  width: 30%;
}
#nav i {
  width: 30%;
  text-align: right;
  cursor: pointer;
}

#elems {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 60px;
}
#elem1,
#elem3 {
  width: 30%;
  height: 100%;
}
#elem2 {
  width: 30%;
  height: 100%;
  padding: 10px 40px;
  text-align: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}
#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}
#image-div:hover img {
  scale: 1.1;
}
#elem1 h4 {
  font-size: 24px;
  margin: 18px 0;
  font-family: canopee;
}
#elem1 span {
  background-color: #b43b12;
  color: #c4bcb3;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
#elem1 p {
  font-size: 20px;
  word-spacing: 1.5px;
  font-family: domain;
  font-weight: 100;
  color: #2a2a26;
}
#elem3 h4 {
  font-size: 24px;
  margin: 18px 0;
  font-family: canopee;
}
#elem3 span {
  background-color: #b43b12;
  color: #c4bcb3;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
#elem3 p {
  font-size: 20px;
  word-spacing: 1.5px;
  font-family: domain;
  font-weight: 100;
  color: #2a2a26;
}
#elem2 h2 {
  font-family: canopee;
  font-size: 60px;
  font-weight: 100;
}
#elem2 h3 {
  font-family: domain;
  font-weight: 100;
  font-size: 40px;
  color: #2a2a26;
}
#elem2 h6 {
  font-size: 20px;
  margin: 40px 0;
  font-weight: 100;
  font-family: domain;
}
#page1 h1 {
  font-size: 480px;
  font-weight: 100;
  background-color: #1c1c19;
  color: #c4bcb3;
  letter-spacing: -20px;
  font-family: canopee;
  line-height: 430px;
  width: 95%;
  margin-left: 2.5%;
}
#page2 {
  height: 120vh;
  width: 100%;
  background-color: #c4bcb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 15px;
}
#page2-left {
  height: 100%;
  width: 30%;
  padding-right: 30px;
  border-right: 1px solid #333;
}
#page2-left h2 {
  font-size: 70px;
  font-family: canopee;
  text-align: center;
  font-weight: 100;
  line-height: 80px;
  color: #2a2a26;
}
#page2-left h2 span {
  font-size: 100px;
  font-family: canopee;
  text-align: center;
  font-weight: 700;
  color: #2a2a26;
}
#page2-left img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
#page2-left p {
  font-size: 25px;
  font-family: domain;
  color: #2a2a26;
}
#page2-right {
  height: 100%;
  width: 65%;
  padding: 0 20px;
}
#page2-right img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
#page2-right h1 {
  font-family: canopee;
  font-size: 70px;
  letter-spacing: -3px;
  font-weight: 100;
}
#page3 {
  height: 40vh;
  background-color: #c4bcb3;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
#page3 h1 {
  font-size: 350px;
  font-family: canopee;
  background-color: #222;
  color: #c4bcb3;
  width: fit-content;
  margin-left: 2%;
  font-weight: 100;
  letter-spacing: -5px;
  padding: 0 20px;
  line-height: 300px;
}
#page3 img {
  height: 100%;
  margin: 0 2%;
}
#page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #c4bcb3;
  justify-content: space-between;
}
#page4-left {
  width: 60%;
  height: 100%;
  padding: 22px;
}
#page4-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page4-right {
  width: 40%;
  height: 100%;
  padding: 22px;
}
#page4-right p {
  font-family: domain;
  font-weight: 100;
  color: #2a2a26;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 150px;
}
#oval {
  height: 200px;
  width: 100%;
  border-radius: 50%;
  background-color: #cac1b6;
  border: 1px solid #2a2a26;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
#oval h1 {
  font-size: 80px;
  font-family: canopee;
  font-weight: 100;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-25%);
  transition: all ease 0.6s;
}
#oval img {
  height: 60px;
  transform: translateX(-120%);
  transition: all ease 0.6s;
}
#oval:hover img {
  transform: translateX(70%);
}
#oval:hover h1 {
  transform: translateX(100%);
}
